.div-3 {
    position: absolute;
    bottom: 25px;
    border: none;
}

.button-1 {
    width: 100px;
    height: 40px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 0px 0.5px 5px black;
    background-color: coral;
    color: black;
    border: none;
}

.display-message {
    position: absolute;
    top: 10px;
    right: 15vh;
    left: 10vh;
    margin: 0px;
    text-align: center;
    background-color: rgb(73, 73, 73);
    box-shadow: 0.5px 0.5px 5px rgb(134, 134, 134);
    font-size: 15px;
    border-radius: 5px;
    z-index: 10;
};

.runner-icon{
    background-color: black !important;
    border: transparent;
    filter: drop-shadow(10px 10px 10px black);
}