.buttons-content {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.button-new, .button-join {
    border: 1px solid black;
    background-color: rgb(183, 183, 183);
    height: 30px;
    width: 150px;
    margin: 5px;
    color: black;
    border-radius: 3px;
}