.logo {
    cursor: pointer;
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.div-code {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-code p {
    margin: 0px;
    font-size: 15px;
}

.display-code {
    font-size: 40px !important;
    font-weight: 600;
}

/*content*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-players {
    background-color: white;
    width: 280px;
    max-height: 800px;
    box-shadow: 0.5px 0.5px 5px rgb(134, 134, 134) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.player {
    width: 200px;
    padding: 10px 0px;
    border-radius: 5px;
    background-color: cornflowerblue;
    text-align: center;
    margin: 10px 0px 0px;
}

.button-1 {
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(183, 183, 183);
    font-size: 20px;
    width: 300px;
    padding: 5px 0px 5px 0px;
    color: black;
}

.display-welcome {
    text-align: center;
}

.div-cancel-message {
    font-size: 30px;
    text-align: center;
}