.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 150%;
    padding-bottom: 20px;
}

.message-attention {
    color: rgb(236, 0, 0);
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

.button-1 {
    border: none;
    border-radius: 17.4px;
    background-color: rgb(183, 183, 183);
    font-size: 20px;
    width: 300px;
    padding: 5px 0px 5px 0px;
    color: black;
}